Repository Datenschmutz/docs, pull requests merged in 2023-01, with the labels that each got.

#39 Fixed Typos
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
Labels: type: documentation, status: work in progress, priority: low, subtype: editing

#38 Fixed Typos
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/intro.md
Labels: status: work in progress, type: cheat-sheet, priority: low, subtype: editing

#44 Development - Added Cheat-Sheet Keyboard shortcuts
  cheat-sheets/keyboard-shortcuts.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/keyboard-shortcuts.md
Labels: type: cheat-sheet, subtype: addition

#45 Development
  cheat-sheets/git.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/git.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/keyboard-shortcuts.md
Labels: type: cheat-sheet, subtype: addition

#48 Changed Title
  cheat-sheets/cisco-commands.md
Labels: type: cheat-sheet, priority: low, subtype: editing

#49 New TS Badge core data
  cheat-sheets/teamspeak/teamspeak-badges.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/teamspeak/teamspeak-badges.md
Labels: type: cheat-sheet, priority: low, subtype: editing

#50 Added Badge codes - inkl. i18n
  cheat-sheets/teamspeak/teamspeak-badges.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/teamspeak/teamspeak-badges.md
Labels: type: cheat-sheet, priority: low, subtype: editing

#54 Added SQL Cheat Sheet
  cheat-sheets/sql.md
  cheat-sheets/teamspeak/teamspeak-badges.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/sql.md
  i18n/de/docusaurus-plugin-content-docs-cheat-sheets/current/teamspeak/teamspeak-badges.md
Labels: type: cheat-sheet, priority: low, subtype: addition

#55 Updated Docusaurus version | 2.3.0
  docusaurus.config.js
  package.json
  yarn.lock
Labels: type: proposal, status: work in progress, priority: medium
